{
  "presets": [
    "es2015",
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-decorators",
    "transform-class-properties",
    [
      "transform-react-jsx"
    ],
    "lodash",
    "date-fns"
  ]
}
